@tailwind base;
@tailwind components;
@tailwind utilities;

*,html,body {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none;
}

#kategoriDropdown {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  #kategoriDropdown h3 {
    color: #333;
    font-size: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
  }
  
  #kategoriDropdown ul li {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  #kategoriDropdown ul li a:hover {
    color: #3b82f6;
  }
  
  @media (max-width: 768px) {
    #kategoriDropdown .grid {
      grid-template-columns: 1fr;
    }
  } 

/* Search Results Styling */
.search-results {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.search-results::-webkit-scrollbar {
    width: 6px;
}

.search-results::-webkit-scrollbar-track {
    background: transparent;
}

.search-results::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 3px;
}

/* Tambahkan ini ke file CSS Anda jika belum ada */
.text-homize-blue {
    color: #30a0e0;
}

.bg-homize-blue {
    background-color: #30a0e0;
}

.hover\:bg-homize-blue-second:hover {
    background-color: #1c91c4;
}

.focus\:ring-homize-blue:focus {
    --tw-ring-color: #30a0e0;
}

.focus\:border-homize-blue:focus {
    border-color: #30a0e0;
}

.text-homize-orange {
    color: #ffb655;
}

.bg-homize-orange {
    background-color: #ffb655;
} 